/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    font-size: 18px
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
       padding: 30px 50px;
   }
}