/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    font-size: 18px
}

#container {
    display: grid;
    grid-template-columns: 50px auto;
    height: 100%;
    #content {
        padding-left: 0px;
        padding-right: 20px;
    }
}

.mat-tab-label {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
}