table{
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 15px / 50px;
    margin: 10px;
    border-style: none;
    border-color:white;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    .order-gap{
      padding: 0px;
    }
  
    tr:nth-child(even){
      text-align: right;
    }
  
    td{
      margin: 5px;
      border-style: none;
      border-color:white;
      text-align: center;
      border-bottom-color: #4CAF50;
    }
    th {
      margin: 5px;
      border-radius: 8px 4px 8px 4px;
      text-shadow: .5px .5px;
      background-color: #4CAF50;
      color: white;
      padding: 8px;
    }
    button{
      width: 100%;
      height: 100%;
      padding: 3px;
      border-radius: 15px / 50px;
    }
    li{
      list-style: lower-roman;
      text-align: left;
      margin-left: 15px;
    }
}
mat-chip{
  font-family: 'Ubuntu Mono', monospace;
    margin: 5px;
    border-radius: 8px 4px 8px 4px;
    padding: 10px;
    font-size: 20px;
}