<div *ngIf="orders && orders.length>0" >
  <br />
  <mat-chip-list>
    <mat-chip>Summary <i class="material-icons">arrow_right_alt</i></mat-chip>
    <mat-chip *ngFor="let key of objectKeys(summary)">{{key + ' : ' + summary[key]}}</mat-chip>
  </mat-chip-list>
  <br />
  <table>
    <tbody *ngFor="let order of orders; let i=index">
      <tr>
        <td># {{ order.orderNumber }}</td>
        <td>{{ order.source }} </td>
        <td><button mat-button color="primary" (click)="orderCompleted(index,order.id)"><i class="material-icons">done</i></button></td>
        <td><button mat-button color="warn" (click)="orderCancelled(index,order.id)"><i class="material-icons">cancel</i></button></td>
      </tr>
      <tr>
        <td colspan="3">
          <ol>
            <li *ngFor="let item of order.items">{{item.name}} X {{item.quantity}}</li>
          </ol>
        </td>
        <td><i class="material-icons">timer</i> {{ timeDifference(order.orderTime) }}</td>
      </tr>
      <tr>
        <td colspan="4" class="order-gap" class="right-allign">
          Order Time : {{ order.orderTime | date : "dd/Mon h:mm a"}}
          <hr />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="orders?.length==0">
  <h1> No Open Orders </h1>
</div>