<mat-tab-group [backgroundColor]="backgroundColor" dynamicHeight mat-stretch-tabs class="mat-tab-group">
  <mat-tab matBadge="{{noOfOrderOpen}}" matBadgeColor="warn" matBadgePosition="before">
    <ng-template mat-tab-label *ngIf="containsAuthority('ROLE_ORDER_ENTRY')">
      <span matBadge="{{noOfOrderOpen}}" matBadgeColor="warn" >Open</span>
    </ng-template>
    <app-order-open (noOfOrderOpen)="updateNoOfOpenOrders($event)"></app-order-open>
    <br />
    <br />
  </mat-tab>
  <mat-tab *ngIf="containsAuthority('ROLE_ORDER_ENTRY')">
    <ng-template mat-tab-label>
      <span class="mat-tab-label">Create</span>
    </ng-template>
    <app-order-create></app-order-create>
    <br />
    <br />
  </mat-tab>
  <mat-tab *ngIf="containsAuthority('ROLE_ORDER_ENTRY')">
    <ng-template mat-tab-label>
      <span class="mat-tab-label">View</span>
    </ng-template>
    <app-order-view></app-order-view>
    <br />
    <br />
  </mat-tab>
  <mat-tab *ngIf="containsAuthority('ROLE_ORDER_ENTRY')">
    <ng-template mat-tab-label>
      <span class="mat-tab-label">Sales Reports</span>
    </ng-template>
    <app-order-reports></app-order-reports>
    <br />
    <br />
  </mat-tab>
</mat-tab-group>