<div *ngIf="orders && orders.length>0">
  <h1>Orders</h1>
  <table border="1">
    <thead>
      <th>#</th>
      <th>Order No.</th>
      <th>Source</th>
      <th>Order Time</th>
      <th>Prepared</th>
      <th>Cancel</th>
    </thead>
    <tbody *ngFor="let order of orders; let i=index">
      <tr>
        <td>{{ i + 1  }}</td>
        <td>{{ order.orderNumber }}</td>
        <td>{{ order.source }} </td>
        <td>{{ order.orderTime | date : "d/M h:mm a" : "IST" }}</td>
        <td><button mat-button (click)="orderCompleted(index,order.id)"><i class="material-icons">done</i></button></td>
        <td><button mat-button (click)="orderCancelled(index,order.id)"><i class="material-icons">cancel</i></button></td>
      </tr>
      <tr>
        <td colspan="4">
          <ol>
            <li *ngFor="let item of order.items">{{item.name}} X {{item.quantity}}</li>
          </ol>
        </td>
        <td colspan="2">Time Elapsed : {{ timeDifference(order.orderTime) }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="orders?.length==0">
  <h1> No Open Orders </h1>
</div>