table{
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Ubuntu Mono', monospace;
  
  tr:nth-child(even){
    background: #2D2E2E;
    color: whitesmoke;
  }
  td,  th {
    border: 1px solid whitesmoke;
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
}

h1{
  text-shadow: 2px 2px;
  font: outline;
  font-size: 40px;
}