<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">add_alert</i>
      </a>
    </li>
    <li>
      <a routerLink="inventory" [class.activated]="currentUrl == '/inventory'">
        <i class="material-icons">add_shopping_cart</i>
      </a>
    </li>
    <li>
      <a routerLink="users" [class.activated]="currentUrl == '/users'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
        <img src="favicon.ico" alt="Greenox Lounge"/>
    </li>
  </ul>
</nav>