<form [formGroup]="inventory" class="form" (ngSubmit)="submitHandler()" [hidden]="success">
  <fieldset formGroupName="vendor">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Vendor Name</mat-label>
            <mat-select formControlName="id" required (selectionChange)="patchVendor($event.value)">
              <mat-option *ngFor="let vendor of vendors; let i=index" [value]="vendor.id">{{vendor.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" formControlName="phoneNumber">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Email Id</mat-label>
            <input matInput placeholder="Email Id" formControlName="emailId">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <input matInput placeholder="Type" formControlName="type">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </fieldset>

  <table>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Advance Amount Paid ?</mat-label>
          <input autocomplete="off" matInput min="0" (change)="enablePaymentMode()" placeholder="Enter advance paid "
            formControlName="advanceAmount" type="number">
        </mat-form-field>
      </td>
      <td [ngClass]="{'hidden': inventory.controls.paymentMode.disabled}">
        <mat-form-field>
          <mat-label>Paid via</mat-label>
          <mat-select formControlName="paymentMode" required>
            <mat-option *ngFor="let payment of paymentModes" [value]="payment">{{payment}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button color="primary" [disabled]="inventory.invalid">Create Inventory Order</button>
      </td>
      <td>
        <button mat-raised-button color="warn" (click)="formReset();$event.preventDefault()">Reset</button>
      </td>
    </tr>
  </table>

  <div class="container">
    <div id="content">
      <div id="main-content">
        <mat-tab-group formArrayName="categorisedItems" [backgroundColor]="categoryBackGround" (selectedTabChange)="applyFilter(undefined)">
          <mat-tab *ngFor="let category of categorisedItemsForm.controls; let i = index;" class="mat-tab">
            <br />
            <div [formGroupName]="i">
              <ng-template mat-tab-label class="mat-tab-label">
                {{category.get('category').value}}
                <input matInput formControlName="category" hidden readonly matTooltip="{{category.get('category').value}}">
              </ng-template>
              <div formArrayName="inventoryItems">
                <mat-form-field class="filter-input">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class="filter-input"
                    autocomplete="off" />
                </mat-form-field>
                <table>
                  <tbody *ngFor="let items of categorisedItemsForm.controls[i].controls.inventoryItems.controls; let j = index;">
                    <tr [formGroupName]="j" [ngClass]="{'hidden': itemFilter && categorisedItemsForm.controls[i].controls.inventoryItems.controls[j].controls.item.value.trim().toLowerCase().indexOf(itemFilter.trim().toLowerCase())<0}">
                      <td>{{j+1}}</td>
                      <td>
                        <mat-form-field>
                          <input matInput placeholder="Item" formControlName="item" required>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput placeholder="Order Quantity" formControlName="orderQuantity" type="number">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput placeholder="leave a note(optional)" formControlName="note" autocomplete="off">
                        </mat-form-field>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button mat-button (click)="addMoreItemToCategory(i); $event.preventDefault()">Could'nt Find Item? Add
                  Item !</button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</form>
<div *ngIf="success">
  <br />
  <span *ngIf="invNum">Yay! We received your new inventory order #{{invNum}} . Want to order more inventory ?
    <button mat-button (click)="formReset()"><i class="material-icons">done</i></button></span>
  <span *ngIf="invNum == undefined">Check If all details are filled. Unable to submit Inventory Order. Try Again ?
    <button mat-button (click)="formReset()"><i class="material-icons">done</i></button> </span>
</div>