 <div id="mainContent" class="main content">
    <ng-container *ngIf="menuService.menuList.length>0 ">
        <div class="leftContent content">
          <div class="leftContainer stick">
              <div class="leftContainer_2">
                  <div class="leftContainer_3">
                    <div class="leftContainer_4 scrollY">
                      <div class="category">
                              <div>
                                  <ng-container *ngFor="let objMenu of menuService.menuList">
                                    <a class="categoryMenu" *ngFor="let objCategory of objMenu.items" href="#{{objCategory.id}}" (click)="catSelect(objCategory.id,$event)" > 
                                      <div class="categoryMenuName" [class.categorySelected]="objCategory.id===currentCategory">{{objCategory.name}}</div>
                                    </a>
                                  </ng-container>
                                   <div class="marker" style="transform:translateY(85px);"></div>
                            </div>
                      </div>
                      <div class="vsliderGray absolutePosition">
                        <div class="vslider" style="transform: translateY(177px); height: 126px; visibility: visible; opacity: 1;"></div></div>
                      </div>
                  </div>
            </div>
          </div>
          <div class="rightContent"> 
             
             <ng-container *ngFor="let objCategory of menuService.categoryList">
               <div id="{{objCategory.id}}" class="rightContainer">
                  <h2 class="categoryHeader padBottom"> -   {{objCategory.name}}</h2>
                  <div class="categoryHeaderCount">{{objCategory.item.length}} items</div>
            
            
                  <div  class="rightContainer_1" *ngFor="let objItem of objCategory.item">
                    
                  <div class="rightCategoryAdd rightFloat">
                      <div class="rightCategoryAddPlus animAddPlus" (click)="addMenu(objItem,1)">+</div>
                      <div class="rightCategoryAddMinus animAddMinus" (click)="addMenu(objItem,-1)"></div>
                      <div class="rightCategoryAddQuant animAddQuant">{{objItem.quantity}}</div>
                     
                  </div>
                  <div class="rightCategoryDesc" >
                    
                      <div class="rightCategoryDescName">
                        <div class="rightCategoryDescNameDesc">{{objItem.name}}</div>
                      </div>
                      <div class="rightCategoryDescDesc"> desc</div>
                      <div class="rightCategoryDescPrice">
                          <div *ngIf="objItem.item.length>0">
                              <div  *ngFor="let objItemItem of objItem.item">
                                  {{objItemItem.name}}  <div>{{objItemItem.price}}</div>
                              </div>
                          
                          </div>
                          <div class="rightCategoryDescPriceAmt" *ngIf="objItem.item.length==0">{{objItem.price}}</div>
                      </div>
                      
                    </div>
                  </div>
              </div>
            </ng-container>
           
          </div>
        </div>
      </ng-container>  
      
      <ng-container *ngIf="cartItem.length>0 ">
          <div class="cart">
            <div class="cartItem">
                <div class="cartItemHeader">
                  Cart
                  <div class="cartItemCount">
                    {{cartItem.length}}  items
                  </div> 
                </div>
                <div class="cartItemList margin-10y">
                  <div class="itemList padding16">
                    <div class="itemListMargin" >
                      <ng-container *ngFor="let objItem of cartItem">
  
                          <div class="singleItem">
                              <div class="singleItemDesc">
                                  {{objItem.name}}
                              </div>
                              <div class="singleItemQuantity">
                                <div class="rightCategoryAdd rightFloat cartItemAdd">
                                    <div class="rightCategoryAddMinus animAddMinus" (click)="addMenu(objItem,-1)"></div>
                                    <div  class="rightCategoryAddPlus animAddPlus" (click)="addMenu(objItem,1)">+</div>
                                    <div class="rightCategoryAddQuant animAddQuant" >{{objItem.quantity}}</div>
                                </div>
                                <div class="singleItemPrice">
                                  <span class="currentSymbol">
                                      <span *ngIf="objItem.item.length>0">
                                          <span  *ngFor="let objItemItem of objItem.item">
                                              {{objItemItem.name}}  <span>{{objItemItem.price*objItem.quantity}}</span>
                                          </span>
                                      
                                        </span>
                                      <span *ngIf="objItem.item.length==0">{{objItem.price*objItem.quantity}}</span>
                                
                                  </span>
                                  
      
      
                                </div>
                              </div>
      
                          </div>
  
                      </ng-container>
  
                    </div>
                  </div>
                 
              </div>
              <div class="cartTotal">
                  <div class="cartSubTotal">
                    <div class="cartSubTotalText">
                        Subtotal
                    </div>
                    <div>
                        <span class="cartTotalPrice">₹ 
                          {{totalPrice}}
                        </span>
                        <span class="cartTotalFinalPrice currentSymbol">
                            {{totalPrice}}
                        </span>
                   </div>
                   
                  </div>
                  <div class="checkout">
                      Checkout →
                   </div>
                </div>
                
              </div>
          </div>
       </ng-container>
      
      
 </div>
